<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  <entry key="clientId">417528969070-8ij800o9e7d24cv7lu4b8oi5t78inneo.apps.googleusercontent.com</entry>
  <entry key="clientSecret">NSNqFwA8_67qNJcq9x8lx3we-OW</entry>
  <entry key="redirectUri">https://salonapp-springboot.herokuapp.com/oauth2callback</entry>
  <entry key="appName">Salon Appointment Manager</entry>
</properties>
