<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Salon Appointment Manager</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
th, td {
	padding: 5px;
}
</style>
</head>
<body>
	<h1 th:text="${code}"></h1>
	<h2>My Upcoming Appointments</h2>
	<table>
		<thead>
			<tr>
				<th>Service</th>
				<th>Date</th>
				<th>From</th>
				<th>To</th>
				<th>With</th>
				<th>Customer Contact Number</th>
			</tr>
		</thead>
		<tr th:each="appointment : ${appointments}">
			<td th:text="${appointment.appointmentDesc}"></td>
			<td th:text="${appointment.date}"></td>
			<td th:text="${appointment.startTime}"></td>
			<td th:text="${appointment.endTime}"></td>
			<td
				th:text="${appointment.customer.firstName} + ' ' + ${appointment.customer.lastName}"></td>
			<td th:text="${appointment.customer.phoneNumber}"></td>
		</tr>
	</table>

	<br />
	<br />
	<h2>Schedule New Appointment</h2>
	<form id="addAppointment" action="/addAppointment">
		<table>
			<tr>
				<td><label for="appointmentType" id="appointmentTypeLabel">Type
						of Appointment:</label></td>
				<td><select id="appointmentType" name="appointmentType">
						<option></option>
						<option>Haircut</option>
						<option>Nails</option>
				</select></td>
			</tr>
			<tr>
				<td><label for="customerFirstName"
					id="customerFirstNameInputLabel">Customer First Name: </label></td>
				<td><input type="text" id="customerFirstName"
					name="customerFirstName" /></td>
			</tr>
			<tr>
				<td><label for="customerLastName"
					id="customerLastNameInputLabel">Customer Last Name: </label></td>
				<td><input type="text" id="customerLastName"
					name="customerLastName" /></td>
			</tr>
			<tr>
				<td><label for="customerPhoneNumber"
					id="customerPhoneNumberInputLabel">Customer Phone Number
						(Optional): </label></td>
				<td><input type="tel" id="customerPhoneNumber"
					name="customerPhoneNumber" /></td>
			</tr>
			<tr>
				<td><label for="appointmentDate" id="appointmentDateInputLabel">Appointment
						Date:</label></td>
				<td><input type="date" id="appointmentDate"
					name="appointmentDate" /></td>
			</tr>
			<tr>
				<td><label for="appointmentStartTime"
					id="appointmentStartTimeInputLabel">Appointment Start Time:</label></td>
				<td><input type="time" id="appointmentStartTime"
					name="appointmentStartTime" /></td>
			</tr>
			<tr>
				<td><label for="appointmentEndTime"
					id="appointmentEndTimeInputLabel">Appointment End Time:</label></td>
				<td><input type="time" id="appointmentEndTime"
					name="appointmentEndTime" /></td>
			</tr>
		</table>

		<br /> <input type="submit" value="Submit" />
	</form>

</body>
</html>