<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Salon Appointment Manager</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
th, td {
	padding: 5px;
}
</style>
</head>
<body>
	<div class="container">
		<div class="col-xs-12" style="text-align: center;">
			<h2>My Upcoming Appointments</h2>
		</div>
		<div class="col-xs-12">
			<table class="table-bordered table-striped" style="margin: 0 auto;">
				<thead>
					<tr>
						<th>Service</th>
						<th>Date</th>
						<th>From</th>
						<th>To</th>
						<th>With</th>
						<th>Customer Contact Number</th>
					</tr>
				</thead>
				<tr th:each="appointment : ${appointments}">
					<td th:text="${appointment.appointmentDesc}"></td>
					<td th:text="${appointment.date}"></td>
					<td th:text="${appointment.startTime}"></td>
					<td th:text="${appointment.endTime}"></td>
					<td
						th:text="${appointment.customer.firstName} + ' ' + ${appointment.customer.lastName}"></td>
					<td th:text="${appointment.customer.phoneNumber}"></td>
				</tr>
			</table>
		</div>
		<br /> <br />
		<div class="col-xs-12" style="text-align: center;">
			<h2>Schedule New Appointment</h2>
			<form id="addAppointment" action="/addAppointment">
				<div class="form-group">
					<label for="appointmentType" id="appointmentTypeLabel">Type
						of Appointment:</label> <select id="appointmentType"
						name="appointmentType" class="form-control">
						<option></option>
						<option>Haircut</option>
						<option>Nails</option>
					</select>
				</div>
				<div class="form-group">
					<label for="customerFirstName" id="customerFirstNameInputLabel">Customer
						First Name: </label> <input type="text" id="customerFirstName"
						name="customerFirstName" class="form-control" />
				</div>
				<div class="form-group">
					<label for="customerLastName" id="customerLastNameInputLabel">Customer
						Last Name: </label> <input type="text" id="customerLastName"
						name="customerLastName" class="form-control" />
				</div>
				<div class="form-group">
					<label for="customerPhoneNumber" id="customerPhoneNumberInputLabel">Customer
						Phone Number (Optional): </label> <input type="tel"
						id="customerPhoneNumber" name="customerPhoneNumber"
						class="form-control" />
				</div>
				<div class="form-group">
					<label for="appointmentDate" id="appointmentDateInputLabel">Appointment
						Date:</label> <input type="date" id="appointmentDate"
						name="appointmentDate" class="form-control" />
				</div>
				<div class="form-group">
					<label for="appointmentStartTime"
						id="appointmentStartTimeInputLabel">Appointment Start
						Time:</label> <input type="time" id="appointmentStartTime"
						name="appointmentStartTime" class="form-control" />
				</div>
				<div class="form-group">
					<label for="appointmentEndTime" id="appointmentEndTimeInputLabel">Appointment
						End Time:</label> <input type="time" id="appointmentEndTime"
						name="appointmentEndTime" class="form-control" />
				</div>
				<br /> <input type="submit" value="Submit" />
			</form>
		</div>
	</div>
</body>
</html>