<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Salon Appointment Manager</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<h1 th:text="${authCode}"></h1>
	<table>
		<tr th:each="entry : ${calendarEntries}">
			<td th:text="${entry.id}"></td>
			<td th:text="${entry.summary}"></td>
		</tr>
	</table>
	<table>
		<tr th:each="appointment : ${appointments}">
			<td th:text="${appointment}"></td>
		</tr>
	</table>
</body>
</html>