<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Salon Appointment Manager</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<table>
		<tr th:each="appointment : ${appointments}">
			<td th:text="${appointment.appointmentDesc}"></td>
			<td th:text="${appointment.startTime}"></td>
			<td th:text="${appointment.endTime}"></td>
			<td th:text="${appointment.customer.firstName}"></td>
			<td th:text="${appointment.customer.lastName}"></td>
			<td th:text="${appointment.customer.phoneNumber}"></td>
		</tr>
	</table>
	
</body>
</html>