<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Hello Thymeleaf!</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Welcome Stylist name. Your scheduled appointments are below.</h1>
	<br />
	<table>
		<thead>
			<tr>
				<td>Time</td>
				<td>Customer</td>
				<td>Customer Phone Number</td>
			</tr>
		</thead>
		<tbody th:each="appointment : ${appointments}">
			<tr>
				<td th:text="${appointment.time}"></td>
				<td th:text="${appointment.first_name + ' ' + appointment.last_name}"></td>
				<td th:text="${appointment.phone_num}"></td> 
			</tr>
		</tbody>
	</table>

</body>
</html>