<!DOCTYPE html>
<html
	lang="en"
	xmlns:th="http://www.thymeleaf.org">
<table
	class="table-bordered table-striped"
	style="margin: 0 auto;">
	<thead>
		<tr>
			<th>Service</th>
			<th>Date</th>
			<th>From</th>
			<th>To</th>
			<th>With</th>
			<th>Customer Contact Number</th>
		</tr>
	</thead>
	<tr th:each="appointment : ${appointments}">
		<td th:text="${appointment.appointmentDesc}"></td>
		<td th:text="${appointment.date}"></td>
		<td th:text="${appointment.startTime}"></td>
		<td th:text="${appointment.endTime}"></td>
		<td
			th:text="${appointment.customer.firstName} + ' ' + ${appointment.customer.lastName}"></td>
		<td th:text="${appointment.customer.phoneNumber}"></td>
	</tr>
</table>
</body>
</html>