<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Salon Appointment Manager</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="text-align: center">
	<h1>Welcome, this application uses Google Calendars. By clicking the button below, you will be prompted to enter your
	google credentials. By clicking this button and signing into your Google account, you agree to allow this application to access your calendar.</h1>

	<form action="/authenticate">
		<input type="submit" value="Continue" />
	</form>

</body>
</html>